
<app-contact></app-contact>

<!-- 
<h1>Get All Employee</h1>
<table >
  <tr>
    <th>Employee ID </th>
    <th>Employee First Name</th>
    <th>Employee Last Name </th>
    <th> Salary</th>
    <th>Designation</th>
  </tr>
  <tr *ngFor="let emp of listEmployees">
    <td>{{emp?.employeeId}}</td>
    <td>{{emp?.employeeFirstName}}</td>
    <td>{{emp?.employeeLastName}}</td>
    <td>{{emp?.salary}}</td>
    <td>{{emp?.designation}}</td>
  </tr>
</table>
<h1>Get Employee by parameter</h1>
<table>
  <tr>
    <th>ID</th>
    <th>employeeFirstName</th>
    <th>employeeLastName</th>
    <th>Salary</th>
    <th>Designation</th>
  </tr>
  <tr>
    <td>{{empInfo?.employeeId}}</td>
    <td>{{empInfo?.employeeFirstName}}</td>
    <td>{{empInfo?.employeeLastName}}</td>
    <td>{{empInfo?.salary}}</td>
    <td>{{empInfo?.designation}}</td>
  </tr>
</table>



<h1>Post Api</h1>

<form #usersForm="ngForm" (ngSubmit)="getUserFormData(usersForm.value)">
  <input type="text" name="employeeFirstName" ngModel placeholder="enter first name">
  <br><br>
  <input type="text" name="employeeLastName" ngModel placeholder="enter last name">
  <br><br>
  <input type="number" name="salary" ngModel placeholder="enter salary ">
  <br><br>
  <input type="text" name="designation" ngModel placeholder="enter designation ">
  <br><br>
  <button type="submit">Add New User</button>
</form>
              -->